<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/urembo.css">
    <title>Divisions</title>
</head>
<body>
    <!--start of top div-->
    <div class="top">
        <div class="topleft"></div>
        <div class="topright"></div>
    </div>
    <!--ennd of top div-->
    <div class="middle">
        <div class="middle-left"></div>
        <div class="middle-center"></div>
        <div class="middle-right"></div>
    </div>
    <div class="bottom">
        <div class="bottom_1"></div>
        <div class="bottom_2"></div>
        <div class="bottom_3"></div>
        <div class="bottom_4"></div>

    </div>
</body>
</html>