<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eMobilis</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <h1 class="mary">eMobilis Gallery</h1>
    <a target="_blank" href="index.html"><button class="paul">home</button></a>
    <a target="_blank" href=""><button class="jane">about</button></a>
    <a target="_blank" href=""><button class="susan">Galaxy</button></a>
    <a target="_blank" href="register.html"><button class="edna">register</button></a>
    <a target="_blank" href="login.html"><button class="franciscah">login</button></a>
    <hr class="wilberforce">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam adipisci, laborum quaerat eum quia modi sunt unde iure dolore accusamus asperiores enim, vitae animi aperiam! Vero ducimus distinctio dicta quis!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi consectetur quia itaque temporibus recusandae officia omnis sapiente? Accusamus excepturi recusandae autem voluptatem optio totam hic, ea temporibus laborum, eius numquam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, dolorem eum, nihil error laboriosam deserunt iure nostrum sunt repellendus distinctio non, assumenda omnis et provident aspernatur eius optio adipisci beatae.</p>

</body>
</html>