<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <a target="_blank" href="index.html"><button class="paul">home</button></a>
    <a target="_blank" href=""><button class="jane">about</button></a>
    <a target="_blank" href=""><button class="susan">Galaxy</button></a>
    <a target="_blank" href="register.html"><button class="edna">register</button></a>
    <a target="_blank" href="login.html"><button class="franciscah">login</button></a>
    <h1>LOGIN HERE</h1><BR></BR><BR></BR>
    <form class="my-form" action="">
        
        <input class="my-input" disabled placeholder="enter email" type="email"><br><br>
        <input class="my-input" placeholder="enter password" type="password"><br><br>
        <input class="my-btn" value="Login" type="submit">
        <form action="">
            <p>Login_as:</p>
          <input name="user-type" type="radio" id="html" name="user" value="ADMIN">
          <label for="html">ADMIN</label><br>
          <input type="radio" id="css" name="user" value="user">
          <label for="css">USER</label><br>
          
            <br>  
          
    
    </form>
</body>
</html>